#header {
    background-color: #f1f1f1; /* Grey background */
    padding: 50px 10px; /* Some padding */
    color: black;
    text-align: center; /* Centered text */
    font-size: 90px; /* Big font size */
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0px; /* Added */
    top:35%;
    opacity: .8;
    
}

.br0, 
.gj-datepicker-bootstrap [role=right-icon] button,
.form-control { 
    border-radius: 0 !important
}

#welcome-div{
  background: url(img/bg2.jpg) no-repeat center fixed; 
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;

}

.logo-div{
  opacity: 100%;
}

.card {
  width: 90%;
  padding: 10px;
}

@media (min-width: 991px) {
  .card {
    width: 30%
  }
}