#header {
    background-color: #f1f1f1; /* Grey background */
    padding: 50px 10px; /* Some padding */
    color: black;
    text-align: center; /* Centered text */
    font-size: 90px; /* Big font size */
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0px; /* Added */
    top:35%;
    opacity: .8;

}

.br0,
.gj-datepicker-bootstrap [role=right-icon] button,
.form-control {
    border-radius: 0 !important
}

#welcome-div{
  background: url(img/bg2.jpg) no-repeat center fixed;
  height: 100vh;
  background-size: cover;
  margin-bottom: 0;

}

.logo-div{
  opacity: 100%;
}

.card {
  width: 90%;
  padding: 10px;
}

@media (min-width: 991px) {
  .card {
    width: 30%
  }
}

.card-img-top {
  max-height:20em;
  min-height:15em;
  object-fit: cover
}



/* Header */


#navbarsearch {
  background-color: transparent; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -130px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 1;
  margin-top: 0.5%;
}

/* Search form */
.search {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-evenly;
  background: white;
/*   height: 50px; */
  border-radius: 50px;
  overflow: hidden;
}

.search .label {
  display: block;
  font-size: 0.75rem;
  color: #111111;
  font-weight: bold;
}

.search-inputs {
/*   flex: 1 0 auto; */
  padding: 16px 24px;
}

.search-inputs:nth-child(1) {
  flex: 1.5 0 0%;
}

.search-inputs:nth-child(2),
.search-inputs:nth-child(3){
  flex: 1 0 0%;
}

.search-inputs:nth-child(4){
  flex: 0.85 0 0%;
}

.search-inputs input {
  border: none;
  display: block;
}

.search-button {
  flex: 0 0 auto;
  padding: 8px 8px 8px 0;
}

.search-button button {
  font-size: 16px;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  border: none;
  background: red;
  color: white;
}
